.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }

  .navbar-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-container {
    position: relative;
    height: 300px; /* o el alto que desees */
    overflow: hidden;
    background-color: #DAEFFB;
}

.navbar-image {
    width: 60%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}